body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: cadetblue;
}


/* flexbox styles */
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 200px;
}

.flex-item1 {
    background-color: rgb(219, 174, 255);
    width: 30%;
    padding: 0.25em;
    min-width: 200px;
    max-width: 400px;
}

.flex-item2 {
    background-color: rgb(0, 255, 255);
    width: 70%;
    padding: 0.25em;
    min-width: 400px;
    min-height: 500px;
}

/* header/footer styles */
header h1, footer h2 {
    background-color: rgb(209, 102, 52);
    text-align: center;
    padding: 1em;
}

footer h2 {
    background-color: rgb(241, 188, 126);
}

/*table styles*/
table {
    text-align: center;
    border-collapse: collapse;
    border: 3px solid;
}

td {
    color: gray;
    width: 50px;
    height: 50px;
}

/*Form styles*/
fieldset, legend, input {
    background-color: rgb(248, 226, 201);
    border: rgb(127, 127, 127) solid 2px;
}

input:invalid {
    background-color: rgb(255, 150, 150);
    border: rgb(255, 0, 0) solid 2px;
}

#rowField, #columnField {
    width: 100%;
}

/*Button style*/
button {
    width: 100%;
    border: rgb(0, 0, 0) double 4px;
}

button:hover {
    background-color: rgb(180,180,180);
}